/* header */
header {
    position:fixed; top:0; left:0; z-index:999; width:100%;
    background:rgba( 255, 255, 255, 0.5 );
    width:100%; margin:0 auto; padding:0 50px;
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    transition:all 0.3s;
}
/* 자바스크립트 헤더_고정 호출용 클래스 */
header.fixed{
    position:fixed; left: 0; top: 0; width: 100%;
    background-color:#171C8F;
}
header h1 {width:205px; height:45px;}
header h1 a {}
header h1 a img {width:100%;}
header nav {
    padding:0 50px;
    display:flex; flex-flow:row nowrap; 
    justify-content:space-between;
    /* line-height:100px; */
    position:relative;
}
header nav > .main_m {display:flex; flex-flow:row nowrap;}
header nav > .main_m > li {
    line-height:100px; margin-right:20px;
}
header nav > .main_m > li:last-child {margin-right:0;}
header nav > .main_m > li > a {
    color:#171C8F; transition:all 0.5s;
    padding:10px 30px; line-height:100px;
    font-size:1.125rem; font-weight:700; letter-spacing:-0.02rem;
    display:block; line-height:50px;
}
/* header nav > .main_m > li:nth-child(2) > a {padding:10px 40px;} */
header nav > .main_m > li > a::after{
    content:''; width:100%; height:2px; display:block;
    /* text-align:center; */
    background-color:#171C8F; /* margin-top:0;  */
    transform:scaleX(0); transition:all 0.3s;
}
header nav > .main_m > li > a:hover::after {transform:scaleX(1);}
header nav > .main_m > li > .sub_m {
    position:absolute; left:50%; top:100px; transform:translate(-50%, -50%);
    /* width:100%;  *//* absolute로 인해 내용만큼만 크기 인식 */
    z-index:999;
    display:flex; flex-flow:row nowrap; align-items:center;
    background:#fff;
}
header nav > .main_m > li:last-child > .sub_m {left:50%; width:93%;}
header nav > .main_m > li > .sub_m > li {}
header nav > .main_m > li > .sub_m > li:last-child {margin-right:0;}
header nav > .main_m > li > .sub_m > li > a {
    font-weight:500; padding:10px 20px;
    display:block;
}
header nav > .main_m > li:nth-child(2) > .sub_m > li > a {width:110%;}
header nav > .main_m > li > .sub_m > li > a:hover {
    background:#171C8F; color:#fff; font-weight:700;
}
header > .link {
    font-size:1.125rem; font-weight:500; letter-spacing:-0.02rem;
    background:#fff; color:#171C8F; transition:all 0.5s linear;
    padding:10px 25px; border-radius:50px;
}
header > .link:hover {color:#fff; background:#171C8F;}
/* 모바일 메뉴 */
header .m_nav {width:20px; height:20px; display:none;}
header .m_nav img {width:100%;}
header .open_nav {
    background:#fff; position:fixed; top:0; right:0;
    z-index:9999;
    min-width:500px; height:100%; padding:70px 20px;
    display:flex; flex-flow:column nowrap; justify-content:space-between;
}
header .open_nav #close {
    position:absolute; top:20px; right:20px;
    background:none; width:25px; height:25px; 
}
header .open_nav #close img {width:100%;}
header .open_nav .m_menu { }
header .open_nav .m_menu > li {}
header .m_menu > li > a {
    /* a::before 정렬 속성 */
    display:flex; flex-flow:row nowrap; align-items:center; 
    font-size:1.25rem; font-weight:500; padding:20px 0;
}
header .m_menu > li > a::before {
    content:''; width:25px; height:2px; background:#171C8F;
    margin-right:10px;;
    /* display:inline-block;  */
    /* 애니메이션 속성 */
    transform-origin:left; transform:scaleX(0); transition:all 0.3s linear; 
}
header .open_nav .m_menu a:hover {color:#171C8F; font-weight:700;}
header .open_nav .m_menu > li > a:hover::before {transform:scaleX(1);}
header .open_nav .m_menu > li > .sub_m {margin-left:35px;}
header .open_nav .m_menu > li > .sub_m > li {}
header .open_nav .m_menu > li > .sub_m > li > a {
    display:block; color:#757373; font-size:1.125rem;
    padding:15px 0; width:40%;
    transition:all 0.3s linear; 
}
header .m_menu > li > .sub_m > li > a:hover {
    border-bottom:1px dashed #171C8F;
    font-weight:700; color:#171C8F;
}
header .open_nav .btm {}
header .open_nav .btm .pop_icon {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    padding:0 20px; margin-bottom:35px;;
}
header .open_nav .btm .pop_icon > div {
    display:flex; flex-flow:column nowrap; 
    justify-content:center; align-items:center;
    /* width:calc(25% - 10px); */ width:25%; margin-right:10px;
    padding:15px 10px; background-color:#171C8F; 
}
header .open_nav .btm .pop_icon > div:last-child {margin-right:0;}
header .open_nav .btm .pop_icon > div > img {width:20px; height:20px;}
header .open_nav .btm .pop_icon > div > span {
    font-size:0.75rem; color:#fff; margin-top:8px;
}
header .open_nav .btm .link_btn {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
header .open_nav .btm .link_btn > a {
    font-weight:500; letter-spacing:-0.02rem;
    color:#fff; background:#171C8F; padding:8px 20px;
    border-radius:30px;
}
header .open_nav .btm .link_btn .sns {
    display:flex; flex-flow:row nowrap;
}
header .open_nav .btm .link_btn .sns a {
    margin-right:5px;
    width:30px; height:30px;
}
header .open_nav .btm .link_btn .sns a:last-child {margin-right:0;}
header .open_nav .btm .link_btn .sns a img {width:100%;}
/* footer */
footer {
    max-width:1440px; padding:0 30px; margin:0 auto;
    display:flex; flex-flow:row wrap; 
    align-items: center; justify-content:space-between;
}
footer .left {
    display:flex; flex-flow:column nowrap; justify-content:space-between;
    padding:20px; background:#171C8F; margin-right:50px;
}
footer .left h1 {width:170px;}
footer .left h1 a {}
footer .left h1 a {width:100%;}
footer .left .f_sns {}
footer .left .f_sns a {width:25px; height:25px; margin-right:5px;}
footer .left .f_sns a:last-child {margin-right:0;}
footer .left .f_sns a img {}
footer .right {max-width:1000px;}
footer .right.f_b_left {
    max-width:1000px; margin-right:50px;
    display:flex; flex-flow:column wrap; justify-content:space-around;
}
footer .right .f_nav {
    display:flex; flex-flow:row wrap;
}
footer .right .f_nav a {}
footer .right .f_nav a::after {
    content:''; width:1px; height:10px; display:inline-block;
    background:#222;
    margin:0 5px 2px 10px;
}
footer .right .f_nav a:last-child:after {display:none;}
footer .right address {margin:15px 0;line-height:25px;}
footer .right p {}