/* header */
header {
    position:flxed; top:0; left:0; z-index:999;
    background:rgba( 255, 255, 255, 0.5 );
    width:100%; margin:0 auto; padding:0 50px;
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    transition:all 0.3s;
}
/* header에 마우스 올렸을 때 나타나는 효과 */
header:hover {background:rgba(255, 255, 255, 0.7); border-bottom:1px solid #aaa;}
header:hover > nav > .main_m > li > a {color:#171C8F;}
header:hover > a {color:#fff; background:#171C8F;}

header h1 {width:205px; height:45px;}
header h1 a {}
header h1 a img {width:100%;}
header nav {
    display:flex; flex-flow:row nowrap; position:relative;
    /* justify-content:space-between; align-items:center; */
    /* line-height:100px; */
}
header nav > .main_m {
    background:palegoldenrod;
    display:flex; flex-flow:row nowrap;
}
header nav > .main_m > li {margin:0 25px;}
header nav > .main_m > li > a {
    background:paleturquoise;
    color:#fff; transition:all 0.5s;
    padding:10px 30px; line-height:100px;
    font-size:1.125rem; font-weight:700; letter-spacing:-0.02rem;
    display:block; line-height:50px;
}
header nav > .main_m > li > a::after{
    content:''; width:100%; height:3px; display:block;
    /* text-align:center; */
    background-color:#171C8F; /* margin-top:0;  */
    transform:scaleX(0); transform-origin:left; transition:all 0.3s;
}
header nav > .main_m > li > a:hover::after {transform:scaleX(1);}
header nav > .main_m > li > .sub_m {
    position:absolute; width:100%; /* absolute로 인해 내용만큼만 크기 인식 */
    z-index:200;
    display:flex; flex-flow:row nowrap;
    /* background:#fff; */ width:800px; background:palevioletred;
    left:50%; transform:translate(-50%,-50%);
}
header nav > .main_m li:last-child > .sub_m {}
header nav > .main_m > li > .sub_m > li {}
header nav > .main_m > li > .sub_m > li:last-child {margin-right:0;}
header nav > .main_m > li:first-child > .sub_m > li {
    display:block; background:palevioletred;
}
header nav > .main_m > li .sub_m > li > a {
    font-weight:700; padding:10px 20px;
    background:purple; display:block;
}
header nav > .main_m > li .sub_m > li > a:hover {
    background:#171C8F; color:#fff;
}
header > a {
    font-size:1.333rem; font-weight:500; letter-spacing:-0.02rem;
    background:#fff; color:#171C8F; transition:all 0.3s;
    padding:5px 25px; border-radius:50px;
}