/* fullpage scroll
html{overflow:hidden;}
html, body{width:100%; height:100%;}
body, html {scroll-behavior:smooth;} */
/* top 버튼 */
#top {
    position:fixed; right:30px; bottom:10px;
    background:none; padding:15px 10px; background:#000;
    border-radius:10px; display:none;
}
/* aside 팝업 */
aside {
    position:fixed; right:20px; bottom:100px;
    display:flex; flex-flow:column nowrap;
    z-index:999;
}
aside div {
    display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;
    padding:15px; background-color:#000; border-radius:10px;
    margin-bottom:5px;
}
aside div:last-child {margin-bottom:0;}
aside div img {width:20px; height:20px;}
aside div span {font-size:0.5rem; color:#fff; margin-top:5px;}
/* main */
main {min-width:400px;; margin:0 auto;}
/* main_visual  */
/* video 배경 */
main .video_bg{
    /* padding: 0; */
    position: relative; top:0; left:0;
    width: 100vw; height: 100vh; overflow:hidden;
    background-color:rgba(0, 0, 0, 0.3); /*살짝 투명한 검정으로 배경색*/
}
main video {
    position:absolute; z-index:-1; 
    mix-blend-mode:overlay;
     /* 화면 크기 조정시 비디오 중심축 맞추기 */
    /* 조건: ★ 비디오의 부모가 vh 또는 px 높이 설정 준비  */
    left:50%; transform:translateX(-50%);
}
main #main_visual {height:100vh; position:relative; top:0; left:0;}
main #main_visual .swiper-wrapper {position:relative; }
main #main_visual .swiper-wrapper .swiper-slide {
    /* background:url(../images/coffee-beans-917613_1920.jpg) no-repeat center;
    background-size:cover; */
}
main #main_visual .swiper-wrapper .swiper-slide .txt {
    width:100%; opacity:0; transform:translateY(20px); /* 슬라이드 애니메이션 초기상태 */
    transition:all 3s; /* 애니메이션 보이기 위해 필요 */
    display:flex; flex-flow:column nowrap; align-items:center; justify-content:center;
    text-align:center;
    /* background:palevioletred; */
    position:absolute; /* left:25%; */ top:40%;
    /* transform: translate(-50%, -50%); */
}
main #main_visual .swiper-wrapper .swiper-slide .txt .title {
    display:flex; flex-flow:row nowrap; align-items:center;
    margin-bottom:30px
}
main #main_visual .swiper-wrapper .swiper-slide .txt .title h1 {
    font-size:2.369rem; letter-spacing:-0.02rem;
    font-family: 'Lexend Deca', sans-serif; font-weight:800;
    color:#fff;
}
main #main_visual .swiper-wrapper .swiper-slide .txt .title > .center {
    font-family: 'Lexend Deca', sans-serif; font-weight:800;
    font-size:6.25rem; letter-spacing:-0.02rem; color:#fff;
    display:flex; align-items:center; 
}
main #main_visual .swiper-wrapper .swiper-slide .txt  .title .center::after,
main #main_visual .swiper-wrapper .swiper-slide .txt .title .center::before {
    content:''; width:150px; height:1px; background:#fff;
    display:inline-block; margin:0 34px; 
}
main #main_visual .swiper-wrapper .swiper-slide .txt h2 {
    font-size:1.777rem; letter-spacing:-0.02rem; color:#fff;
    line-height:40px;
}
main #main_visual .swiper-wrapper .slide1 {}
main #main_visual .swiper-wrapper .slide2 {}
main #main_visual .swiper-wrapper .slide3 {}
main #main_visual .scroll {
    position:absolute; bottom:50px; left:50%; transform: translate(-50%, -50%);
    z-index:999;
}
main #main_visual .scroll span {
    color:#fff; position:relative; display:block;
    animation:scroll 0.7s alternate linear infinite;
}
main #main_visual .scroll span::after {
    content:''; width:1px; height:50px; display:block; background:#fff;
    margin-top:40px;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); /* 가운데 정렬 */
    /* text-align:center; */
}
/* 애니메이션 */
@keyframes scroll {
    0%{transform:translateY(-20px)};
    100%{transform:translateY(20px);}
}
/* end main_visual */
/* section 배경 */
/* h1 공통디자인 영역 */
main section h1 {
    font-size:5rem; letter-spacing:-0.04rem; font-weight:800;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom:33px;
}
main section h1 em {
    font-size:5rem; letter-spacing:-0.04rem; font-weight:800;
    font-family: 'Lexend Deca', sans-serif;
    color:#171C8F;
}
/* h1 공통디자인 영역 end  */
/* New menu */
main #new_menu {
    max-width:1440px; margin:0 auto;
    height:100vh;
    display:flex; flex-flow:column nowrap; 
    justify-content:center;
}main #new_menu h1 {margin-left:50px;}
main #new_menu h1 em {}
main #new_menu .wrap {
    display:flex; flex-flow:row wrap; 
    justify-content:center;
    background:#f1f1f1;
}
main #new_menu .wrap .tabs{
    margin-right:50px; margin-top:20px;
}
main #new_menu .wrap .tabs a {
    display:block; text-align:center;
    padding:10px;
    font-size:1.777rem; font-weight:500; 
    font-family: 'Lexend Deca', sans-serif; letter-spacing:-0.02rem;
    
}
main #new_menu .wrap .tabs a:hover {animation:scale 0.5s;}
main #new_menu .wrap .tabs a:nth-child(2) {margin:10px 0;}
/* tab 활성화 호출 클래스 */
main #new_menu .wrap .tabs .active {
    color:#171C8F; border-bottom:1px dashed #171C8F; font-weight:800;
}
main #new_menu .wrap .right {
    display:flex; flex-flow:row wrap;
}
/* main #new_menu .wrap .right > div {
    display:flex; flex-flow:row wrap;
} */
main #new_menu .wrap .right > div .poster {
    max-width:350px; height:400px; 
    border-radius:50px;
    overflow:hidden;
    margin-right:20px;
}
main #new_menu .wrap .right > div .poster img {width:100%;}
/* 상품리스트 slide 공통영역 */
main #new_menu .wrap .right > div .swiper {
    max-width:500px;
    align-self:flex-end;
}
main #new_menu .wrap .right > div .swiper .swiper-wrapper {margin-bottom:40px;}
main #new_menu .wrap .right > div .swiper .swiper-wrapper .swiper-slide {
    display:flex; flex-flow:column nowrap; align-items:center;
    margin-right:30px;
}
main #new_menu .wrap .right > div .swiper .swiper-wrapper .swiper-slide .menu_img {
    max-width:180px; margin-bottom:10px; border-radius:125px; overflow:hidden;
}
main #new_menu .wrap .right > div .swiper .swiper-wrapper .swiper-slide .menu_img:hover {
    animation:scale 0.5s;
}
main #new_menu .wrap .right > div .swiper .swiper-wrapper .swiper-slide .menu_img img {width:100%;}
main #new_menu .wrap .right > div .swiper .swiper-wrapper .swiper-slide .menu_txt {
    display:flex; flex-flow:column nowrap; align-items:center;
}
main #new_menu .wrap .right > div .swiper .swiper-wrapper .swiper-slide .menu_txt span {text-align:center;}
main #new_menu .wrap .right > div .swiper .swiper-wrapper .swiper-slide .menu_txt span:nth-child(1) {
    font-weight:700; margin-bottom:3px; letter-spacing:-0.04rem;
}
main #new_menu .wrap .right > div .swiper .swiper-wrapper .swiper-slide .menu_txt span:nth-child(2) {
    font-size:0.875rem;
}
/* slide 개별영역 */
main #new_menu .wrap .right .c1,
main #new_menu .wrap .right .c2,
main #new_menu .wrap .right .c3 {display:flex; flex-flow:row wrap;}
/* slide pagenation */
#new_menu .swiper .swiper-pagination {
    text-align:right; padding-right:60px; /* pagenation 위치 변경 */
}
/* slide navigation */
#new_menu .swiper .swiper-button-prev {display:none;}
#new_menu .swiper .swiper-button-next {
    background:url(../images/next.png) no-repeat center;
    width:70px; right:-10px;
    --swiper-navigation-top-offset:93%; /* 다음버튼 위치조정 */
}
#new_menu .swiper .swiper-button-next::after {display:none;}
/* 애니메이션 */
@keyframes scale {
    0% {transform:scale(1);}
    100% {transform:scale(1.1);}
}
/* new menu end */
/* signature */
main #signature {
    max-width:1440px; margin:0 auto;
    position:relative; overflow:hidden; /* txt-_ani 위치설정을 위한 속성 */
    display:flex; flex-flow:column nowrap; justify-content:center;
    height:100vh;
}
main #signature .txt_ani {
    width:535px; height:535px;
    position:absolute; right:-200px; top:-200px;
    z-index:700;
}
main #signature .txt_ani img {
    animation: rotate_image 7s linear infinite;transform-origin: 50% 50%;
}
main #signature h1 {margin-bottom:-30px; margin-left:50px; z-index:100;}
main #signature h1 em {font-size:4.375rem; display:block;}
main #signature #signature_swiper {
    max-width:100%; height:auto;
    background:#f1f1f1;
    z-index:1;
}
#signature_swiper .swiper-wrapper {}
#signature_swiper .swiper-wrapper .swiper-slide {
    display:flex; flex-flow:row wrap; justify-content:center;
}
/* slide 공통내용 영역 */
#signature_swiper .swiper-wrapper .swiper-slide .img {
    max-width:440px; border-radius:50px;
    overflow:hidden;
    margin-right:60px;
}
#signature_swiper .swiper-wrapper .swiper-slide .img img {width:100%;}
#signature_swiper .swiper-wrapper .swiper-slide .txt {
    align-self:flex-end; max-width:450px;
}
#signature_swiper .swiper-wrapper .swiper-slide .txt >* {margin-bottom:20px;}
#signature_swiper .swiper-wrapper .swiper-slide .txt h2 {
    font-size:1.777rem; letter-spacing:-0.02rem; font-weight:700;
    margin-bottom:30px;
}
#signature_swiper .swiper-wrapper .swiper-slide .txt h3 {
    font-weight:500;
    font-size:1.333rem; letter-spacing:-0.02rem; line-height:30px;
}
#signature_swiper .swiper-wrapper .swiper-slide .txt .blending {
    font-size:1.125rem; letter-spacing:-0.02rem;
}
#signature_swiper .swiper-wrapper .swiper-slide .txt .info_box {}
#signature_swiper .swiper-wrapper .swiper-slide .txt .info_box .info {
    display:flex; flex-flow:row nowrap; align-items:center;
}
#signature_swiper .swiper-wrapper .swiper-slide .txt .info_box .i2 {
    margin:10px 0;
}
#signature_swiper .swiper-wrapper .swiper-slide .txt .info_box .info p {
    margin-right:20px;
}
#signature_swiper .swiper-wrapper .swiper-slide .txt .info_box .info .rate_bg {
    width:150px; height:7px; background:#d9d9d9; border-radius:30px;
    display:flex; align-items:flex-start;
}
#signature_swiper .swiper-wrapper .swiper-slide .txt .info_box .info .rate_bg span {
    content:''; display:block;
    width:100%; height:7px; background:#222; border-radius:30px;
    animation:rate_scale 1s linear; transform-origin:left;
}
#signature_swiper .swiper-wrapper .swiper-slide .txt .info_box .i2 .rate_bg span {width:60%;}
#signature_swiper .swiper-wrapper .swiper-slide .txt .info_box .i3 .rate_bg span {width:100%;}
/* slide 개별 디자인 영역 */
/* slide1 */
#signature_swiper .swiper-wrapper .slide1 {}
#signature_swiper .swiper-wrapper .slide1 .txt {}

#signature_swiper .swiper-wrapper .slide1 .txt h2 {color:#171C8F;}
#signature_swiper .swiper-wrapper .slide1 .txt h3 {font-weight:500; }
#signature_swiper .swiper-wrapper .slide1 .txt p {
    font-size:1.125rem; line-height:30px; letter-spacing:-0.02rem;
}
#signature_swiper .swiper-wrapper .slide1 .txt .desc1 {margin-bottom:10px;}
/* slide2 */
#signature_swiper .swiper-wrapper .slide2 {}
#signature_swiper .swiper-wrapper .slide .txt h2, 
#signature_swiper .swiper-wrapper .slide2 .txt h3, 
#signature_swiper .swiper-wrapper .slide2 .txt .blending {color:#16191C;}

/* slide3 */
#signature_swiper .swiper-wrapper .slide3 {}
#signature_swiper .swiper-wrapper .slide3 .txt h2, 
#signature_swiper .swiper-wrapper .slide3 .txt h3, 
#signature_swiper .swiper-wrapper .slide3 .txt .blending {color:#0B715B;}
#signature_swiper .swiper-wrapper .slide3 .txt .info_box .i1 .rate_bg span {width:80%;}
#signature_swiper .swiper-wrapper .slide3 .txt .info_box .i2 .rate_bg span {width:40%;}
#signature_swiper .swiper-wrapper .slide3 .txt .info_box .i3 .rate_bg span {width:80%;}
/* swiper_slide 내용 end */
/* slide pagenation */
#signature_swiper .swiper-pagination {
    text-align:right; padding-right:80px; /* pagenation 위치 변경 */
}
/* slide navigation */
#signature_swiper .swiper-button-prev {display:none;}
#signature_swiper .swiper-button-next {
    background:url(../images/next.png) no-repeat center;
    width:70px;
    --swiper-navigation-top-offset:96%; /* 다음버튼 위치조정 */
}
#signature_swiper .swiper-button-next::after {display:none;}
/* 애니메이션 */
@keyframes rotate_image{
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}
@keyframes rate_scale{
    0% {transform: scaleX(0);}
    100% {transform: scaleX(1);}
}
/* signature end */
/* event */
main #event {
    max-width:1440px; margin:0 auto;
    height:100vh;
    display:flex; flex-flow:row wrap; 
    justify-content:space-around; align-items:center;
    /* background:palegoldenrod; */
}
main #event .left {
    display:flex; flex-flow:column nowrap; align-items:flex-end;
}
main #event .left h1 {
    /* align-self:flex-start; */
    margin-bottom:40px;
}
main #event .left h1 em {}
main #event .left .event_tab {margin-bottom:30px;}
main #event .left .event_tab a {
    padding:5px 20px; border-radius:50px; border:1px solid #aaa;
    margin-right:10px;
    font-size:1.125rem; font-weight:500;
}
/* main #event .left .event_tab a */.e_active {
    border:none; color:#fff; background:#171C8F;
}
main #event .left .img {}
main #event .left .img img {}
main #event .right {text-align:right; width:600px;}
main #event .right a {margin-bottom:15px; display:block;}
main #event .right a span {
    margin-right:5px; 
    font-size:0.875rem; font-weight:700;
}
main #event .right a img {}
main #event .right .event_box {text-align:left;}
main #event .right .event_box .event_c1 {}
main #event .right .event_box .event_c2 {display:none;}
main #event .right .event_box > div {
    border:2px solid #222;
    border-right:none; border-left:none;
}
main #event .right .event_box > div .e_desc {
    padding:20px 0 20px 10px; border-bottom:1px solid #969696;
}
main #event .right .event_box > div .e_desc:last-child {border:none;}
main #event .right .event_box > div .e_desc h2 {
    color:#171C8F; font-weight:500; letter-spacing:-0.02rem;
    margin-bottom:18px;
}
main #event .right .event_box > div .e_desc h3 {
    font-size:1.125rem; font-weight:500; letter-spacing:-0.02rem;
    margin-bottom:8px;
}
main #event .right .event_box > div .e_desc p {font-size:0.75rem; letter-spacing:-0.02rem;}
/* event end */
/* store */
main #store {
    max-width:1440px; margin:0 auto; max-height:100vh; 
    display:flex; flex-flow:column wrap; 
    justify-content:center; 
}
main #store h1 {
    margin-left:30px; margin-bottom:-30px;
    z-index:80;
}

main #store .store_box {
    background:url(../images/map.jpg) no-repeat center;
    background-size:cover;
    height:500px; z-index:1;
    display:flex; flex-flow:row wrap; 
    justify-content:space-around; align-items:center;
}
main #store .store_box .left {
    display:flex; flex-flow:column nowrap;
}
main #store .store_box .left .store_img {max-width:450px;}
main #store .store_box .left .store_img img {width:100%;}
main #store .store_box .right {
    padding:20px;
    background:rgba(255,255,255,0.7);
    border-radius:30px;;
}
main #store .store_box .right h2 {
    font-size:3.125rem; font-weight:700; letter-spacing:-0.02rem;
    margin-bottom:30px;
}
main #store .store_box .right h2 img {}
main #store .store_box .right h3 {
    font-size:1.777rem; font-weight:500; letter-spacing:-0.02rem;
    margin-bottom:50px;
}
main #store .store_box .right h3 em {
    font-size:1.777rem; font-weight:700; letter-spacing:-0.02rem;
    color:#171C8F;
}
main #store .store_box .right #searchFrm {}
main #store .store_box .right #searchFrm fieldset {
    max-width:500px;
    display:flex; flex-flow:row nowrap; 
    justify-content:space-between; align-items:center;
}
main #store.store_box .right #searchFrm fieldset #search {
    width:calc(100% - 40px); padding:20px;
}
main #store .store_box .right #searchFrm fieldset #searchBtn {
    background:none; width:30px; height:30px;
    align-items:center;
}
main #store .store_box  .right #searchFrm fieldset #searchBtn img {}
/* store end */

