@media screen and (max-width:1440px){
    header h1 {width:170px; margin-top:10px;}
    header nav > .main_m > li:last-child > .sub_m > li > a {
        padding:10px 15px; letter-spacing:-0.04rem;
    }
}
@media screen and (max-width:1200px){
    header nav > .main_m > li {margin-right:15px;}
    header nav > .main_m > li > a {font-size:1rem;  padding:10px 20px;}
    header nav > .main_m > li .sub_m > li > a {font-size:0.875rem;}
    /* header nav > .main_m > li:last-child > .sub_m {width:100%;} */
    header > a {font-size:1rem;}
}    
@media screen and (max-width:1000px) {
     /* header */
    header {padding:10px 20px;}
    header .m_nav {display:block;}
    header nav, header > .link {display:none;}
    /* main_visual */
    main #main_visual {height:100%;}
    main #main_visual .scroll span {font-size:0.875rem;}
    /* new */
    main #new_menu .top .new_tab {margin-right:0;}
    /* footer */
    footer {
        min-width:400px;
        justify-content:space-around;
    }
    footer .left h1 {width:130px;}
    footer .left {margin-right:30px;}
    footer .right .f_nav a, footer .right address, footer .right p {font-size:0.875rem;}
    footer .right .f_nav a::after {margin:0 7px 0 10px;}
}
@media screen and (max-width:900px){
    /* 사이드 팝업 */
    aside {display:none;}
    aside div {display:none;}
    /* main_visual */
    main #main_visual .swiper-wrapper .swiper-slide .txt .title > .center {font-size:4rem;}
    main #main_visual .swiper-wrapper .swiper-slide .txt  .title .center::after,
    main #main_visual .swiper-wrapper .swiper-slide .txt .title .center::before {
    width:100px; margin:0 20px; 
}
    main #main_visual .swiper-wrapper .swiper-slide .txt .title h1 {font-size:1.777rem;}
    main #main_visual .swiper-wrapper .swiper-slide .txt h2 {
        font-size:1.333rem; line-height:30px;
    }
    main #main_visual .swiper-wrapper .swiper-slide .txt .title {margin-bottom:0;}
    /* 공통디자인 */
    main section h1, main section h1 em {font-size:3.8rem;}
    /* new */
    main #new_menu .top .new_tab a {margin-right:5px;}
    /* event */
    main #event .right {margin-top:-200px;}
    main #event .left .img {display:none;}
    /* 회사소개 */
    main .title .brand_tab a {font-size:1rem;}
    main .story_bg #brand_story h2, main #brand_identity h2 {font-size:2.5rem;}
    main .story_bg #brand_story h3, main #brand_mission .left h3,
    main #brand_keyword h3, main #brand_identity h3 {font-size:1.5rem;}
    main .story_bg #brand_story .since, main #brand_mission .left p,
    main #brand_mission .left p em  {font-size:1.333rem;}
    main .story_bg #brand_story .desc, main #brand_identity p, 
    main #brand_identity p em {width:75%; font-size:1rem;}
    main #brand_mission .right img {width:250px;}
    main #brand_keyword .contents .box h4 {font-size:1.125rem;}
    main #brand_keyword .contents .box p, main #brand_keyword .contents .box p em {font-size:1rem;}
    main #brand_keyword .contents .box {margin-right:25px;}
    main #brand_identity .img .box {max-width:200px;}
    main #brand_identity .color .box {width:200px; height:100px;}
    main #brand_history #history_swiper .swiper-wrapper .swiper-slide .box p {font-size:1rem;}
    main #brand_history #history_swiper .swiper-wrapper .slide1 .title h2 {font-size:2.777rem;}
    main #brand_history #history_swiper .swiper-wrapper .slide1 .title h3 {font-size:1rem; line-height:25px;}
    /* store */
    main #store {max-width:700px;}
    main #store .store_btm .left {display:none;}
}
@media screen and (max-width:600px){
    /* header */
    header h1 {width:150px;}
    /* main */
    main section {min-width:400px; height:100%;}
    main #main_visual .swiper-wrapper .swiper-slide .txt .title h1,
    main #main_visual .swiper-wrapper .swiper-slide .txt  .title .center::after,
    main #main_visual .swiper-wrapper .swiper-slide .txt .title .center::before {display:none;}
    /* new */
    main #new_menu .top h1 {margin-left:0;}
    /* signature */
    main #signature .txt_ani {display:none;}
    #signature_swiper .swiper-wrapper .swiper-slide {align-items:center;}
    #signature_swiper .swiper-wrapper .swiper-slide .img {
        max-width:300px; height:300px;
    }
    #signature_swiper .swiper-wrapper .swiper-slide .txt {width:350px;}
    #signature_swiper .swiper-wrapper .swiper-slide .txt >* {margin-bottom:15px;}
    #signature_swiper .swiper-wrapper .swiper-slide .txt h2 {font-size:1.5rem;}
    #signature_swiper .swiper-wrapper .swiper-slide .txt h3 {font-size:1.125rem;}
    #signature_swiper .swiper-wrapper .swiper-slide .txt .blending {font-size:1rem;}
    /* event */
    main #event .right .event_box > div .e_desc:last-child {display:none;}
    /* 회사소개 페이지 */
    main #brand_keyword {margin-bottom:-50px;}
    main #brand_identity .img .box:nth-child(1) {margin-right:0;}
    main #brand_identity .img .box span {bottom:0; font-size:0.875rem;}
    main #brand_history #history_swiper .swiper-wrapper .swiper-slide .box p {font-size:1rem;}
    /* 메뉴 페이지 */
    main #menu_list .title p {font-size:0.9rem;}
    /* footer */
    footer .right {margin-top:20px;}
}
@media screen and (max-width:400px){
    header .open_nav {min-width:300px;}
    main section,
    main .video_bg {height:500px;}
    footer .left {display:none;}
}